
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
* {
    margin: 0;
    padding: 0; ;
}

body {
    font-family: Baskerville, Cambria, Times, serif;
    background: #eee;
    font-size: 1.1em;
}

#page {
    line-height: 1.5;
    width: 920px;
    margin: 0px auto;
    clear: both;
    overflow: hidden;
}
#container {
    width: 880px;
    padding:20px;
    background: white;
    overflow:hidden;
}
#nav {
    font-size: 1.1em;   
    overflow:hidden;
    margin:10px 0px 15px 20px; 
}
#nav li {
    text-indent: 0px;
    list-style: none;
    margin-left:20px; 
    display:inline; float:left;
}
#nav a {
    border: 0px none;
}
#nav .selected a {
    background: white;
}


a {
    color: #036;
    text-decoration: none;
    border-bottom: 1px dotted #036;
}
a:hover {
    color: #360;
    border-bottom: 1px solid #360;
}
a img, a.rsslink { border:0px none!important; }


form input, form textarea, th, .status, h1 span, .ac_results, h2, #container h1, .errorlist li {
    font-family: Optima, 'Lucida Grande', Helvetica, Calibri, Arial, sans-serif;
}
th {
    color: #333;
    border-bottom: 1px solid #eee;
    padding-right: 10px;
}
tbody td {
    border-bottom: .5em solid white;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
#container h1 {
    line-height: 1em!important;
    margin-bottom: .25em ;
    font-size: 1.5em;
}
#container h2, #container h3 { margin-top: .75em; }
    #container h3,
    #container .info h2 { color:#360; }
    #container .info h2 { margin-top:0; }
#container p { margin-bottom:1em; }
    #container .flatpage p { margin-right:200px;}

#head { 
    position:relative; 
    width: 960px;
    margin: 0px auto;
}
#head h1{
    font-size: 36px;
    font-weight: normal;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 10px;
}
#head h1 a {
    background: #eee url(/assets/img/ex.png) no-repeat 0px bottom;
    margin-right: 520px;
    padding-left: 230px;
    display: block;
    padding-top: 20px;
    border-bottom: 0px none;
    color: #360;
}
#head h1 a:hover {
    color: #036;
}
#head h1 span {
    font-size: 15px;
}

/* homepage list */
.rlist {
    width: 100%;
}
.rlist td {
    border-bottom:1px dotted #eee; 
    padding-bottom:4px;
    padding-top:4px;
}
td.title, td.date, td.attachments, td.poster {
    padding-right: 1.5em solid white;
}
td.title { 
    padding-left:4px; 
}
tr.even td {
    
}
tr.odd td {
    background:#fafafa;
}

/* individual page */
#narrative, .info { margin-top:1em; }
.info {
    margin-top:-35px;
    margin-bottom:1.5em; 
    width:220px;
    float:right;
    background:#eee;
    padding-bottom:20px; 
}
.info div {
    float: left;
    padding:20px 20px 0px 20px;
}
.info h2 {
    font-size: .9em;
    border-top: 1px solid #fff;
}
#narrative p { margin-right:234px; }


/* submission page */
#searchform {
    margin-bottom:1em;
}
form input, form textarea {
    font-size: 1em;
}
form ul { margin-top:15px; }
form li {
    list-style:none;
    margin-bottom: 12px;
    overflow: hidden;
    clear: both;
}
form li span {
    display: block;
    margin-right: 110px;
    line-height: 1.1;
    font-size: .9em;
    margin-bottom: 5px;
}
#id_entries-title {
    margin-bottom: 5px;
    width: 460px;
    font-size: 1.2em;
}

textarea {
    display: block;
    background: #fff url(/assets/img/lines.gif);
    line-height: 22px;
    min-height: 176px;
    width: 580px;
    clear: left;
    border: 1px solid #ccc;
    padding: 0px 4px 0px 4px;
}
li input, #searchform .input {
    border: 0px none;
    border-bottom: 1px dotted black;
}
#searchform .input {
    width:250px; 
}
label {
    width: 130px;
    display: block;
    float: left;
}

.ui-datepicker-calendar, .ui-datepicker-header {
    background: #eee;
    padding: 8px;
}
.ui-datepicker-calendar tbody td {
    border-bottom: 0px none;
    padding: 2px 5px 2px 5px;
}
.ui-datepicker-next {
    float: right;
    cursor: pointer;
}
.ui-datepicker-prev {
    float: left;
    cursor: pointer;
}
.ui-datepicker-title {
    clear: both;
    font-weight: bold;
}

.errorlist li {
    list-style: none;
    color: #f70;
    padding: 3px;
    line-height: 1em;
    width: auto;
    margin-top: 15px;
    font-size: .9em;
    text-transform: uppercase;
}

.ac_results {
    padding: 0px;
    border: 1px solid WindowFrame;
    background-color: Window;
    overflow: hidden;
}
.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results iframe {
    display: none;/*sorry for IE5*/ display/**/:block;/*sorry for IE5*/ position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: mask();
    width: 3000px;
    height: 3000px;
    background:#eee;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    overflow: hidden;
}
.ac_loading {
}
.ac_over {
    background-color: #ffe;
    color: black;
}
