{% extends "base.html" %}

{% block nav-add %}
<li><a href="/add" class="selected">Submit a document</a></li>
{% endblock %}



{% block content %}
	<h1>Submit a thing</h1>
	<form enctype="multipart/form-data" action="" method="post">
		
		{{ entryform }} 
		{{ fileform.management_form }} 
		
		{% for form in fileform.forms %}
			{{ form.as_p }}
		{% endfor %}
		<a id="add-another">add another file</a><br />
		
		<input type="submit" value="Submit" />
	</form>
{% endblock %}


{% block jquery %}
	
	jQuery("#id_entries-0-date_filed").datepicker({ dateFormat: 'mm/dd/yy' });
	jQuery("#id_entries-0-date_requested").datepicker({ dateFormat: 'mm/dd/yy' });
	$('textarea').autogrow();

	$("#id_entries-0-entity").autocompleteArray({{ entities|safe }}); 
	
	
	// Hides and shows extra file entry forms
	
	var prefix = "id_files-"; // prefix for file forms
	var suffix = "-theFile"
	
	var i = 1; // number of file forms shown
	var num_forms = 2; // the number of file forms total. 
	
	$(document).ready(function() {
		
		for(hide_i = i; hide_i <= num_forms; hide_i++) {
			id_to_hide = "#" + prefix + i + suffix;
			jQuery(id_to_hide).parent().hide();	
		}
		
		
		jQuery("#add-another").click(function() {
			id_to_show = "#" + prefix + i + suffix;
			jQuery(id_to_show).parent().show();
			
			// remove the link if you cannot add more files
			// (  should make this friendlier -- a la 
			//   'email large collections to ...' )
			if(i == 10){
				jQuery("#add-another").hide();
			}		
   		});
 	});
	
	
{% endblock %}