<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}{% endblock %}</title>
		
	    <link rel="alternate" type="application/rss+xml" href="/feeds/recent/" />
	
		<style type="text/css" media="screen">
			@import url(/assets/css/base.css);
			{% block css %}{% endblock %}
		</style>
		
		<script src="/assets/js/jquery-1.3.2.min.js"></script>
		<script src="/assets/js/jquery-ui-1.7.2.custom.min.js"></script>
		<script src="/assets/js/jquery.autogrow.js"></script>
		<script src="/assets/js/jquery.autocomplete.js"></script>
		
		
		<script type="text/javascript">
			jQuery(function() {
				{% block jquery %}
				{% endblock %}
            });
            	
		</script>
		
		{% block head %}
		{% endblock %}
	
		
	</head>
	<body>
		<div id="head">
			<h1><a href="/"><span>Ann Arbor Area</span> Government Document Repository</a></h1>
			<p>A place to upload documents relevant to local governance.</p>
			<ul id="nav">
<!--
				{% block nav-home %}<li id="home"><a href="/">Home</a></li>{% endblock %}
-->
				{% block nav-add %}<li><a href="/add" class="selected">Submit a document</a></li>{% endblock %}
			
				{% block nav-browse-submitter %}<li><a href="/submitter" class="selected">Browse by submitter</a></li>{% endblock %}
			
				{% block nav-browse-origin %}<li><a href="/origin" class="selected">Browse by origin</a></li>{% endblock %}
			
				{% block nav-about %}<li><a href="/about">About</a></li>{% endblock %}

			</ul>
		</div>
			
		<div id="page">		
			<div id="container">
			
				{% block content %}{% endblock %}			
			
			
			</div>
			<div style="clear:both"></div>
		</div>
		
		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-10223350-1");
		pageTracker._trackPageview();
		} catch(err) {}</script>
		
	</body>
</html>