{% extends "base.html" %}
{% load hash %}

{% block title %}Ann Arbor Area Government Document Repository{% endblock %}

{% block content %}

{{header}}


<h1>Find documents</h1>

<form action="/search/" method="get" id="searchform">
	<input  class="input" type="text" name="q" id="q" value="{{entries|first}}" onclick="this.value=''"/>
	<input type="submit" value="Search" />
</form>

<h1>Recent documents <a class="rsslink" href="/feeds/recent"><img src="/assets/img/feed-icon-14x14.png" alt="RSS" /></a></h1>

<table class="rlist" cellspacing="0">
	<thead>
		<tr>
			<th>Recent documents</th>
			<th>Added</th>
			<th>From</th>
			<th>By</th>
			
		</tr>
	</thead>
	
	<tbody>
		
		{% for entry in entries %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td class="title"><a href="/doc/{{ entry.id }}">{{ entry.title }}</a></td>
			<td class="date">{{ entry.date_posted|timesince|truncatewords:2|cut:", ..."}} ago</td>
			<td class="entity"><a href="/origin/{{entry.entity.slug}}">{{ entry.entity.name }}</td>
			<td class="poster"><a href="/submitter/{{entry.poster_slug}}">{{ entry.poster }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="pages">Page:
{% for n in page_l %}
	<a href="/page/{{n}}">{{n}}</a>
{% endfor %}
</div>

{% endblock %}