{% extends "base.html" %}
{% load markup %}

{% block title %}{{e.title}}{% endblock %}

{% block content %}
	<h1>{{e.title}}</h1>
	
	<div class="info">
		<!-- should make this into a cool calendar -->
		<div class="from">
			<h2>Requested from</h2>
			<a href="/origin/{{e.entity.id}}">{{e.entity.name}}</a>
		</div>
		<div class="requested">
			<h2>On</h2>
			{{e.date_requested}}
		</div>
		<div class="filled">
			<h2>Recieved</h2>
			{{e.date_filed}}
		</div>
		<div class="by">
			<h2>By</h2>
<!-- not going to link contributors for a while
			<a href="/by/{{posterUrl}}">{{e.poster}}</a>
-->
			{{e.poster}}
		</div>
		
		<div class="posted">
			<h2>Posted here</h2>
			{{e.date_posted}}
		</div>
	</div>
	
	<div id="narrative">
	{{e.narrative|markdown}}
	
	<h2>Files</h2>
	<ul>
	{% for f in files %}
		
		<li><a href="/{{f.file.theFile}}">{{f.file.name}}</a> {{f.file.size}} (<a href="/doc/{{e.id}}/view/{{f.file.id}}">view online</a>)</li>
	{% endfor %}
	</ul>
	
	</div>
	
	
{% endblock %}